# Copyright 2021-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -cert-err33-c,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -llvm-header-guard,
  -readability-avoid-nested-conditional-operator,
InheritParentConfig: true
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '21'
