Checks: >
  *,
  -altera-*,
  -llvmlibc-*,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key:   readability-function-cognitive-complexity.IgnoreMacros
    value: 'true'
