Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -altera-*,
  -clang-analyzer-nullability.NullableDereferenced,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -hicpp-no-array-decay,
  -llvmlibc-*,
  -misc-non-private-member-variables-in-classes,
  -modernize-unary-static-assert,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
