# Copyright 2021-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -altera-struct-pack-align,
  -modernize-macro-to-enum,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
