# Copyright 2021-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -*-macro-to-enum,
  -altera-struct-pack-align,
  -readability-identifier-length,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '0'
FormatStyle: file
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
