# Copyright 2021-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -hicpp-multiway-paths-covered,
  -llvm-header-guard,
  -readability-avoid-nested-conditional-operator,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '20'
InheritParentConfig: true
