# Copyright 2021-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-core.BitwiseShift,
  -hicpp-multiway-paths-covered,
  -llvm-header-guard,
  -misc-no-recursion,
  -readability-avoid-nested-conditional-operator,
InheritParentConfig: true
